#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh  $@

override_dh_auto_configure:
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	dh_auto_configure -- --sysconfdir=/etc/siege
override_dh_auto_install:
	dh_auto_install -- sysconfdir=$(CURDIR)/debian/siege/etc/siege
	# Do not use language-specific extension (policy).
	mv $(CURDIR)/debian/siege/usr/bin/siege2csv.pl $(CURDIR)/debian/siege/usr/bin/siege2csv